.dialogWrapper {
  @apply tw-bg-gray-2 tw-rounded-lg tw-px-12 tw-pt-12 tw-pb-10 tw-mx-auto;
  width: 50rem;
  -webkit-text-stroke: 0px currentcolor;
}

.listItem {
  @apply tw-items-center tw-relative tw-text-base tw-font-rowdies tw-font-light tw-uppercase tw-tracking-normal tw-mb-6;
  line-height: 1.875;
}
