.button {
  @apply tw-mx-auto tw-mb-0 tw-font-rowdies tw-font-normal tw-text-black tw-text-sm tw-py-3 tw-px-16
    tw-rounded-lg tw-uppercase tw-leading-none;
  margin-top: 2.5rem;
  height: 3.125rem;

  border: 1px solid #17c3b2;
  background: #17c3b2;
  transition: background 0.3s;

  &:hover {
    background: #17c3bf;
  }

  &:disabled {
    @apply tw-opacity-25;
  }

  &.primary {
    @apply tw-bg-primary tw-border-primary;
    &:hover {
      @apply tw-bg-primary-75;
    }
  }
}
