.tab-container {
  @apply tw-w-full tw-flex tw-items-center tw-justify-between tw-max-w-screen-sm;
}

.bar-wrapper {
  @apply tw-flex tw-items-center tw-justify-between tw-flex-col tw-cursor-pointer;
  height: 70px;

  @media (max-width: 600px) {
    height: 55px;
  }

  p {
    @apply tw-font-normal tw-font-rowdies tw-text-black tw-m-0 tw-p-0 tw-uppercase;
    font-size: 32px;

    @media (max-width: 600px) {
      font-size: 24px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.bar {
  @apply tw-rounded tw-bg-primary;
  width: 146px;
  height: 8px;
  
  @media (max-width: 600px) {
    width: 106px;
  }

  &.active {
    @apply tw-bg-transparent;
  }
}