.wrapper {
  @apply tw-bg-right-top tw-bg-no-repeat tw-rounded-lg tw-bg-gray-3 tw-pl-6 tw-pr-4;
  padding-top: 19px;
  padding-bottom: 19px;
  min-width: 266px;
  height: 193px;
  background-size: 100% 100%;
  background-origin: border-box;
}

.sectionTitle {
  @apply tw-font-inter tw-text-white tw-mb-0;
  font-size: 15px;
  min-height: 55px;
}

.title {
  @apply tw-text-3xl tw-font-inter tw-text-white tw-mb-0 tw-w-2/3;
  line-height: 30px;
  min-height: 30px;
}

.link {
  @apply tw-font-inter tw-mt-6;
  font-size: 0.688rem;
  line-height: 18px;
  a {
    @apply tw-text-white;
  }
}
