.header {
  tr {
    th {
      line-height: 1.375rem;
    }
  }
}

.dateTime {
  @apply tw-font-inter tw-text-base;
  line-height: 1.188rem;
}

.assetImg {
  @apply tw-hidden lg:tw-inline tw-mr-2;
  width: 2rem;
}

.assetLabel {
  @apply tw-text-base tw-font-inter;
  line-height: 1.188rem;
  color: #C2C2C2;
}
