.dialogWrapper {
  @apply tw-rounded-lg tw-flex tw-flex-col tw-w-full tw-mx-auto;
  height: 37.25rem;
  max-width: 50rem;
  background-color: #181818;
  padding: 3.125rem 8.25rem 1.5625rem 8.25rem;
}

.dialogTitle {
  font-size: 1.75rem;
  letter-spacing: 0;
  margin-bottom: 5rem;
}
